---
layout: default
#title: Rozcestník - koronavirus
rousky: 
    title: Informační video
    id: "s-hsj4gTJPg"
facebook:
    profilePageName: Česká pirátská strana
    profilePage: https://www.facebook.com/ceska.piratska.strana/
img: 'header/koronavirus.png'
rbar:
   - video
---

{% capture md %} 
**Vítejte na stránkách, které slouží k rychlému dohledání  zdrojů informací o všem, co souvisí s pandemií koronaviru.** 

Kontakty, zprávy, informace, výzvy k pomoci nebo naopak nabídky pomoci se na nás hrnou ze všech stran. Je těžké vybrat ty hlavní nebo ty opravdu užitečné. Je těžké usledovat vše, co se děje. A většinou člověk potřebuje informaci nebo kontakt rychle.

Nabízíme rozcestník, který vám hledání usnadní - najdete zde hlavní infolinky, důležité telefony na klíčové instituce, odkazy na krizové poradny, které nabízí pomoc a služby spojené s dopady nouzového stavu, odkazy na weby a facebookové stránky, které soustřeďují zájemce o pomoc nebo naopak nabídky pomoci.

Pro zájemce připojujeme další informace.

*Co na webu najdete?*

- [**rozcestník**](/rozcestnik/) důležitých telefonních čísel a informačních webů
- [**naše řešení**](/reseni/) - návrhy z pirátské dílny, jak by podle našeho názoru věci měly nebo mohly fungovat během krizového řízení státu
- [**aktuality**](/aktuality/) - zprávy o tom, co podnikáme, a co se daří realizovat

Kontakty i návrhy řešení budeme průběžně doplňovat.  

Zaujalo vás, co děláme? **[Naloďte se](https://nalodeni.pirati.cz/) na pirátskou palubu.** 
{% endcapture %}

<div class="row">
	{% if page.article-boxes %}
		{% include article-box/three-in-row.html article-boxes=page.article-boxes %}
	{% endif %}
    {% include homepage/banner.html 
       link='https://www.piratskelisty.cz/clanek-2980-navod-jak-omezit-sireni-koronaviru-pomozte-chranit-seniory-a-postizene'
       title='Jak se společně postavit koronaviru?'
       default='https://a.pirati.cz/mo/img/banner/koronavirus.png'
    %}

    <div class="medium-12 large-8 columns">

		<!-- Article -->
		<article itemtype="http://schema.org/BlogPosting" itemscope="">
			<link itemprop="mainEntityOfPage" href="{{ page.url }}">
            {% capture content %} 
            {{ md | markdownify }} 

{{ md2 | markdownify }} 
            {% endcapture %}
            {% include page-header.html headline=page.title content=content %}
		</article>
		<!-- /Article -->
	</div>
	<div class="medium-12 large-4 columns">
<aside class="o-section">
  <div class="o-section-inner o-section-inner--rightBlock">
      {% include right-bar/bar_video.html video=page.rousky %}
  </div>
</aside>
	</div>
</div>
