---
layout: default
#title: Rozcestník - koronavirus
ruce: 
    title: Informační video
    id: "irQv1ZoEsgs"
rousky: 
    title: Výroba roušek
    id: "s-hsj4gTJPg"
facebook:
    profilePageName: Česká pirátská strana
    profilePage: https://www.facebook.com/ceska.piratska.strana/
img: 'header/koronavirus-core.png'
rbar:
   - video
---

{% capture md %} 
**Vítejte na stránkách, které slouží k rychlému dohledání zdrojů informací o všem, co souvisí s pandemií koronaviru.** 

Kontakty, zprávy, informace, výzvy k pomoci nebo naopak nabídky pomoci se na nás hrnou ze všech stran. Je těžké vybrat ty hlavní nebo ty opravdu užitečné. Je těžké usledovat vše, co se děje. A většinou člověk potřebuje informaci nebo kontakt rychle.

Nabízíme rozcestník, který vám hledání usnadní - najdete zde hlavní infolinky, důležité telefony na klíčové instituce, odkazy na krizové poradny, které nabízí pomoc a služby spojené s dopady nouzového stavu, odkazy na weby a facebookové stránky, které soustřeďují zájemce o pomoc nebo naopak nabídky pomoci.

Pro zájemce připojujeme další informace.

*Co na webu najdete?*

- Aktuální situaci a přehled přijatých opatření
- [**rozcestník**](/rozcestnik/) důležitých telefonních čísel a informačních webů
- [**naše řešení**](/reseni/) - návrhy z pirátské dílny, jak by podle našeho názoru věci měly nebo mohly fungovat během krizového řízení státu
- [**aktuality**](/aktuality/) - zprávy o tom, co podnikáme, a co se daří realizovat


<!-- Začátek aktualních inbformací -->

# Aktuální situace na území České republiky

Česká republika je aktuálně 22. zemí na světě a 13. zemí v Evropě v žebříčku 
států dle počtu výskytu nakažení koronavirem. Počet pacientů k pátečnímu ránu 
vystoupal na číslo 774. Česko patří spolu s Itálií, Španělskem, Francií a 
Německem k evropským zemím, kde byla zavedená celostátní karanténa.


# Přehled přijatých opatření

## Pohyb osob

* Do 24. března 6:00 je zakázán volný pohyb osob kromě nezbytných výjimek, jako 
jsou cesty do zaměstnání, za rodinou, za lékařem, nákup potravin, hygienických 
potřeb apod.
* Je zakázán pohyb mimo bydliště bez ochrany úst a nosu (je možné použít např. 
respirátor, roušku, šálu nebo šátek).
* Opatření se nevztahují na přeshraniční pracovníky (tzv. pendlery).


## Zahraničí

* Na území ČR je zakázán vstup všem cizincům, pokud nemají na území ČR hlášen 
trvalý nebo přechodný pobyt nad 90 dnů.
* Je zastaven příjem žádostí o víza, trvalé a přechodné pobyty.
* Platí zákaz vycestovat z ČR.
* Překračovat hranice smí pouze přeshraniční pracovníci (tzv. pendleři), kteří 
pracují ve vzdálenosti do 100 km od hranic; na pendlery se v rámci omezení 
volného pohybu osob nevztahují výjimky pro návštěvy rodiny, dobrovolnickou pomoc 
a cesty na úřad; při přechodu hranic se pendleři musí podrobit kontrole příznaků 
infekčního onemocnění.
* Při návratu z rizikových oblastí je třeba tuto skutečnost oznámit svému 
praktickému lékaři (telefonicky nebo jinak vzdáleně), který nařídí 14denní 
karanténu.
* Je znovuzavedena vnitřní ochrana hranic s Německem a Rakouskem a tyto hranice je 
možné překročit jen na 12 určených hraničních přechodech.


## Kulturní, sportovní a jiné akce

* Je zakázáno pořádání akcí s účastí nad 30 osob.


## Maloobchod a služby

* Je zakázána přítomnost veřejnosti v posilovnách, na koupalištích, v soláriích, 
saunách a dalších wellness službách, v hudebních a společenských klubech, 
zábavních zařízeních, veřejných knihovnách, galeriích, bazénech a turistických 
informačních centrech.
* Platí zákaz maloobchodního prodeje na tržištích a v tržnicích.
* Zakazuje se maloobchodní prodej a prodej služeb v provozovnách s výjimkami, 
kterými jsou např. potraviny, pohonné hmoty, drogerie, léky, potřeby pro 
zvířata, noviny, časopisy, tabákové výrobky, textilu a obecně prodeje přes 
internet nebo jiné vzdálené prostředky.
* V časech mezi 7:00 a 9:00 smí navštěvovat maloobchodní prodejny potravin, 
drogerií a lékáren pouze osoby starší 65 let.
* Je zakázáno přijímat nové pacienty do lázní.
* Do 24. března 6:00 je zakázáno:
  - přítomnost veřejnosti v provozovnách stravovacích služeb (výjimkou jsou 
  závodní jídelny)
  - provoz stravovacích služeb umístěných ve velkých nákupních centrech
  - provoz kasin a heren
  - provoz autoškol
* Provozovatelům maloobchodních prodejen se doporučuje dezinfikovat nákupní košíky 
a vozíky po každém použití a kliky nebo madla dveří alespoň jednou za hodinu.


## Školství

* Je zakázána osobní přítomnost žáků a studentů na školách (vč. uměleckých a 
jazykových škol).


## Doprava

* Je pozastaven prodej jízdenek průvodčími ve vlacích Českých drah.
* Ruší se zákaz jízdy kamionů nad 7,5 tuny na českých silnicích a dálnicích v 
neděli a ve státní svátky.
* Všem provozovatelům veřejné dopravy se doporučuje dezinfikovat místa, kterých se 
lidé často dotýkají (zejména kliky, madla, ovládání dveří, držadla, opěrky 
sedadel), přinejmenším po každé jízdě.


## Vězeňské služby

* Jsou zakázány návštěvy ve věznicích, vazebních věznicích a v ústavech pro výkon 
zabezpečovací detence.


## Sociální služby

* Je uložena pracovní povinnost studentům v denní formě studia vyšších odborných a 
vysokých škol v oborech vzdělání a programech zaměřených na sociální práci, 
sociální pedagogiku, sociální a humanitární práci, sociálně právní činnost, 
charitní a sociální činnost, sociální politiku, sociální péči, sociální 
patologii, právo nebo speciální pedagogiku s cílem zajistit poskytování péče v 
zařízeních sociálních služeb; konkrétní pracovní povinnost bude vláda ukládat v 
součinnosti s hejtmany.
* Je pozastavena činnost denního stacionáře.
* Osoby, kterým jsou poskytovány sociální služby, mají zakázáno vycházet mimo 
objekt či areál zařízení, v němž jsou tyto sociální služby poskytovány (tj. 
domovy pro osoby se zdravotním postižením, domovy pro seniory, domovy se 
zvláštním režimem).
* Poskytovatelům sociálních služeb (centra denních služeb, týdenní stacionáře, 
nízkoprahová zařízení pro děti a mládež, sociálně aktivizační služby pro rodiny 
s dětmi, sociálně aktivizační služby pro seniory a osoby se zdravotním 
postižením, sociálně terapeutické dílny) se nařizuje přerušit poskytování těchto 
služeb.
* Osobám starším 70 let se doporučuje nevycházet po dobu trvání nouzového stavu 
mimo svá obydlí, s výjimkou návštěvy zdravotnického zařízení za účelem zajištění 
neodkladné zdravotní péče, starostové obcí mají nařízeno zajistit osobám starším 
70 let pomoc při zvládání základních životních potřeb, včetně nákupů potravin a 
léků.


## Zdravotnictví

* Byla uložena pracovní povinnost žákům a studentům pátého a šestého ročníku 
prezenčního studia všeobecného lékařství lékařských fakult a posledních ročníků 
studijních programů či oborů vzdělání připravující na profesi všeobecné sestry, 
dětské sestry, zdravotnického záchranáře, asistenta ochrany a podpory veřejného 
zdraví a praktické sestry.


## Činnost úřadů

* Platí omezení rozsahu úředních hodin orgánů na pondělí a středu v maximálním 
rozsahu tří hodin v daném dni; o změně úředních hodin orgány vhodným způsobem 
informují a zveřejní je na svých úředních deskách.
* Ve všech případech, kde je to možné, je vhodné nahradit osobní kontakt 
elektronickým nebo písemným.

<!-- Konec aktualních inbformací -->


Aktuální situaci, kontakty i návrhy řešení budeme průběžně doplňovat.  

Zaujalo vás, co děláme? **[Naloďte se](https://nalodeni.pirati.cz/) na pirátskou palubu.** 
{% endcapture %}

<div class="row">
	{% if page.article-boxes %}
		{% include article-box/three-in-row.html article-boxes=page.article-boxes %}
	{% endif %}
    {% include homepage/banner.html 
       link='/reseni/'
       title='Jak se společně postavit koronaviru?'
       default='https://a.pirati.cz/mo/img/banner/koronavirus.png'
    %}

    <div class="medium-12 large-8 columns">

		<!-- Article -->
		<article itemtype="http://schema.org/BlogPosting" itemscope="">
			<link itemprop="mainEntityOfPage" href="{{ page.url }}">
            {% capture content %} 
            {{ md | markdownify }} 

{{ md2 | markdownify }} 
            {% endcapture %}
            {% include page-header.html headline=page.title content=content %}
		</article>
		<!-- /Article -->
	</div>
	<div class="medium-12 large-4 columns">
<aside class="o-section">
  <div class="o-section-inner o-section-inner--rightBlock">
      {% include right-bar/bar_video.html video=page.ruce %}
      {% include right-bar/bar_video.html video=page.rousky %}
  </div>
</aside>
	</div>
</div>
