---
layout: default
#title: Rozcestník - koronavirus
rousky: 
    title: Informační video
    id: "s-hsj4gTJPg"
facebook:
    profilePageName: Česká pirátská strana
    profilePage: https://www.facebook.com/ceska.piratska.strana/
rbar:
   - video
---

{% capture md %} 

## Informační linky


Bezplatná informační linka ke koronaviru: **1212**

Nonstop infolinky Státního zdravotního ústavu: **+420 724 810 106**, **+420 725 191 367**, **+420&nbsp;3725&nbsp;3191&nbsp;370**

Jen v případě vážných zdravotních problémů či ohrožení života volejte linky **155** a **112**

Hot line koronavirus MZV: **+420 224 183 200**, **+420 224 183 100**

Krizová linka Praha: **800 160 166**


### Pro seniory
senior telefon  **800 157 157** (Život 90)

krizová Linka seniorů   **800 200 007** (denně od 8:00 do 20:00, Elpida)

pomoc seniorům  **840 111 122**

krizová linka - Praha: **800 160 166**

psychologická péče a podpora : **792 308 798** (sdružení Seniorem s radostí)

### Další linky

Krizová pomoc Diakonie Českobratrské církve evangelické: **800 567 567** (9:00 - 20:00)

Krizová linka služby rané péče EDA.cz: **800 40 50 60** (9:00-15:00)


Infolinka k opatřením v mzn. dopravě: CZ **225 131 810**, EN **225 131 820** (8:00-20:00)

Informační linka Finanční správy: **225 092 392**

Infolinka Ministerstva zemědělství: **221 814 595**

Infolinka MPO: **224 854 444**

{% endcapture %}

{% capture md2 %}

## Informační weby

### Státní instituce 

[Ministerstvo zdravotnictví]( https://koronavirus.mzcr.cz/)

[SZÚ (Státní zdravotní ústav)](http://szu.cz/tema/prevence/2019ncov)

[Vláda ČR](https://www.vlada.cz/cz/media-centrum/aktualne/aktualni-informace-ke-koronaviru-sars-cov-2-puvodne-2019-ncov-179250/)

[Ministerstvo práce a sociálních věcí]( https://www.mpsv.cz/web/cz/informace-ke-koronaviru)

[Ministerstvo školství (MŠMT)](http://www.msmt.cz/)

[Ministerstvo vnitra (MV)](https://www.mvcr.cz/clanek/coronavirus-informace-mv.aspx)

**[Ministerstvo průmyslu a obchodu (MPO)](https://www.mpo.cz/cz/rozcestnik/pro-media/tiskove-zpravy/podrobnejsi-rozcestnik-v-kontextu-s-koronavirem--253458/)**

[Ministerstvo financí (MF)]( https://www.mfcr.cz/cs/aktualne/koronavirus-covid-19/2020/ministerstvo-financi-prehledne-ke-korona-37925)

[Ministerstvo zahraničí (MZV)]( https://www.mzv.cz/jnp/)

[Ministerstvo dopravy (MD)]( https://www.mdcr.cz/Media/Media-a-tiskove-zpravy/Od-soboty-plati-mimoradna-opatreni-v-mezinarodni-d)

[Ministerstvo zemědělství (MZe)]( http://eagri.cz/public/web/mze/)

[Ministerstvo spravedlnosti (MS):](https://www.justice.cz/)

[Magistrát hlavního města Prahy]( https://bezpecnost.praha.eu/udalosti/neco-se-deje_24_2_2020)

### Média

[Česká televize - rozcestník pro kraje](https://ct24.ceskatelevize.cz/specialy/3037207-koronavirus)

[Český rozhlas](https://portal.rozhlas.cz/)

### Poradny

[Život 90 - informace pro seniory]( https://www.zivot90.cz/cs)

[Koroporadna - Unie rodinných právníků, právní pomoc](http://www.uracr.cz/koroporadna?fbclid=IwAR1-kS_NXpaB_ySlUxQp7asZoAxsDZFWd40iazR7JaVMXV-TW4OMI_8LN9o)

[Dělám, co můžu - psychologické online konzultace](https://www.delamcomuzu.cz/)

[Diakonie](https://www.diakonie.cz/aktualni-pomoc)

[EDA - služby rané péče, psychologická podpora](https://www.eda.cz)

[Elpida - krizová pomoc pro seniory, pečující o seniory a osoby v krizi](https://www.elpida.cz)

{% endcapture %}

{% capture md3 %} 
{% endcapture %}

<div class="row">
	{% if page.article-boxes %}
		{% include article-box/three-in-row.html article-boxes=page.article-boxes %}
	{% endif %}
    {% include homepage/banner.html 
       title='Jak se společně postavit koronaviru?'
       default='https://a.pirati.cz/mo/img/banner/koronavirus.png'
    %}

    <div class="medium-12 large-8 columns">

		<!-- Article -->
		<article itemtype="http://schema.org/BlogPosting" itemscope="">
			<link itemprop="mainEntityOfPage" href="{{ page.url }}">
            {% capture content %} 
            {{ md | markdownify }} 
<div class="row">
  <div class="medium-12 large-12 columns">
    <div id="tlacitko" style="    text-align: center;">
        <a href="https://get.yourpass.eu/232bc0cc-75e8-4265-969f-424dedbf98ff?tag=zachranka&fbclid=IwAR0dlAzpvO8j1ta6q0NThK_GIoYz47x0qTWOl6RjInjSx7Apapaz1RnMAl4" target="_blank" style="width: 350px; margin-top: 10px; text-align: center; padding: 22px; font-size: 22px; background-color: #A9A9A9;border-color: #5cb85c; color: white;" class="c-cta-button c-cta-button--primary">
          Mobilní infokarta ke stažení 
        </a>
    </div>
  </div>
</div>
<p></p>
            {{ md2 | markdownify }} 
            {% endcapture %}
            {% include page-header.html headline=page.title content=content %}
		</article>
		<!-- /Article -->
	</div>
	<div class="medium-12 large-4 columns">
<aside class="o-section">
  <div class="o-section-inner o-section-inner--rightBlock">
      {% include right-bar/bar_video.html video=page.rousky %}
  </div>
</aside>
	</div>
</div>
